<div class="wrapper">

<mercado-header></mercado-header>

<div class="content-wrapper">
	<div class="container">
		<!--<mercado-home></mercado-home> porquê essa desgraça não funciona-->
			<router-outlet></router-outlet>
	</div>

</div>
  <!-- Rodapé deve ser aqui -->

  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
      </div>
      <strong>E-commerce</strong> ©2017 EcommerceMercado Todos os direitos resercados.
    </div>
  </footer>
</div>
