	<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center">
						Admin Area <small>Account Login</small>
					</h1>
				</div>
			</div>
		</div>
	</header>

	<div class="container">
	  <form (ngSubmit)="processForm()">
	    <div class="form group">
	      <label for="produtoNome">Produto</label>
	      <input type="text" name="nome" class="form-control" [(ngModel)]="produto.produtoNome">
	    </div>
	    <div class="form group">
	      <label for="preco">Preço unidade</label>
	      <input type="text" name="preco" class="form-control" [(ngModel)]="produto.preco">
	    </div>
			<div class="form group">
	      <label for="quantidadeEstoque">Quantidade de unidades em estoque</label>
	      <input type="text" name="quantidadeEstoque" class="form-control" [(ngModel)]="produto.quantidadeEstoque">
	    </div>
			<div class="form group">
	      <label for="categoria">Categoria</label>
	      <input type="text" name="categoria" class="form-control" [(ngModel)]="produto.categoria">
	    </div>
			<div class="form group">
	      <label for="loteProduto">Lote do produto</label>
	      <input type="text" name="loteProduto" class="form-control" [(ngModel)]="produto.loteProduto">
	    </div>
			<div class="form group">
	      <label for="codigoBarras">Código de barras</label>
	      <input type="text" name="codigoBarras" class="form-control" [(ngModel)]="produto.codigoBarras">
	    </div>
			<div>
				<label for="imagem" class="btn btn-default">
					<input type="file" name="imagem" (change)="selectFile($event)">
				</label>
			</div>
			<input type="submit" value="save" class="btn btn-success">
			<!--
	    <input type="submit" [disabled]="!selectedFiles"
				(click)="upload()" value="save" class="btn btn-success">
			-->
	  </form>
	</div>
